@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

body {
    font-family: 'Comfortaa', cursive;

    #root {
        position: absolute;
        box-sizing: border-box;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
    }
}
