$gutter: 30px;

.bookmarks {
    display: flex;
    height: 100%;
    flex-direction: column;

    .bookmark {
        display: flex;
        align-items: center;
        position: relative;
        color: darkgrey;
        padding-right: 30px;
        margin-top: $gutter;

        &:last-of-type {
            margin-bottom: $gutter;
        }

        &.current {
            color: initial;
        }

        &.done {
            &:after {
                position: absolute;
                right: 0;
                font-size: 1.3em;
                font-family: FontAwesome;
                content: '\f05d';
                color: green;
                padding-left: 5px;
                padding-right: 5px;
            };
        }

        &.failed {
            &:after {
                position: absolute;
                right: 0;
                font-size: 1.3em;
                font-family: FontAwesome;
                content: '\f05c';
                color: red;
                padding-left: 5px;
                padding-right: 5px;
            };
        }

        .step {
            display: flex;
            width: 100px;
            justify-content: center;
        }
    }
}
